/* ~FONTS~ */
@font-face {
  font-family: "8-BitMage";
  src: url("fonts/mage-font/diaryofan8bitmage-lydd-webfont.woff"),
    format("woff"), url("fonts/mage-font/diaryofan8bitmage-lydd-webfont.woff2"),
    format("woff2");
}
@font-face {
  font-family: "Minecraft";
  src: url("fonts/minecraft-font/Minecraft-Regular.ttf"), format("truetype"),
    url("fonts/minecraft-font/Minecraft-Bold.ttf"), format("truetype"),
    url("fonts/minecraft-font/Minecraft-Italic.ttf"), format("truetype"),
    url("fonts/minecraft-font/Minecraft-BoldItalic.ttf"), format("truetype");
}

/* ~VARIABLES~ */
$announceFont: "8-BitMage";
$blogFont: "Minecraft";
$cardColor: rgba(26, 26, 26, 0.95);
$darkGradient: linear-gradient(
  to top,
  #1a1a1a3f,
  #483f463f,
  #83666a3f,
  #bc94853f,
  #e6cca13f
);
$lightGradient: linear-gradient(
  to bottom,
  #f5f5f53f,
  #f4e8f152,
  #fcdade73,
  #fbd0bfa9,
  #e6cca1d0
);
$tShadow: 2px 2px 4px #1a1a1a, 2px 0px 5px rgba(26, 26, 26, 0.6);
$iShadow: 2px 3px 5px #1a1a1a;
$cDark: #1a1a1a;
$cGreen: #6da18a;
$cLightGreen: #86bf8f;
$cWhite: #f5f5f5;
$cGold: #e6cca1;

/* ~GLOBALS~ */
html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(
    45deg,
    #6da18a 25%,
    #86bf8f 25%,
    #86bf8f 50%,
    #6da18a 50%,
    #6da18a 75%,
    #86bf8f 75%,
    #86bf8f 100%
  );
  background-size: 2rem 2rem;
  // overflow: hidden;
  font-family: $announceFont;
  animation: backgroundScroll 90s linear infinite;
}

@keyframes backgroundScroll {
  100% {
    background-position: -100% 50%;
  }
}

a {
  // text-decoration: none;
  color: $cWhite;
}
a:visited {
  color: inherit;
}
a:hover {
  color: $cGold;
}

button {
  border-radius: 10px;
  height: 8rem;
  border: none;
  background-color: $cGold;
  transition: transform 250ms;
  box-shadow: $iShadow;
  font-family: $blogFont;
}

button:hover {
  transform: translateY(-5px);
  transition: transform 100ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:active {
  transform: translateY(-2px);
  transition: transform 30ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.navLink {
  max-height: 10rem;
}

.navBadge {
  display: flex;
  vertical-align: middle;
  max-height: 100%;
  transition: box-shadow 0.3s ease,
    transform 100ms cubic-bezier(0.3, 1, 0.4, 1.5);
}

.navBadge:hover {
  transform: translateY(-5px);
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  transition: transform 100ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

img {
  display: grid;
  max-width: 100%;
  max-height: 30%;
  align-self: center;
  justify-self: center;
  z-index: -1;
  filter: drop-shadow($iShadow);
}

hr {
  width: 95%;
  color: $cGold;
  text-shadow: $tShadow;
}

h1 {
  margin: auto;
  user-select: none;
  color: $cGold;
  text-shadow: $tShadow;
  min-width: max-content;
}
h2 {
  margin: auto;
  margin-bottom: inherit;
  color: $cWhite;
  text-shadow: $tShadow;
}
h3 {
  margin: auto;
  margin-bottom: inherit;
  color: $cWhite;
  text-shadow: $tShadow;
}

h4 {
  margin: auto;
  margin-bottom: inherit;
  color: $cWhite;
  text-shadow: $tShadow;
}
h5 {
  margin: auto;
  margin-bottom: inherit;
  color: $cWhite;
  text-shadow: $tShadow;
}

p {
  margin: auto;
  font-family: $blogFont;
  text-shadow: $tShadow;
  padding-top: 1%;
  padding-bottom: 1%;
}

ul {
  list-style-type: none;
  padding-left: 2%;
  padding-top: 4%;
  margin: 0;
  max-width: max-content;
}

li {
  margin-bottom: 2%;
  font-size: 1rem;
  position: relative;
  z-index: 1;
  color: $cWhite;
  text-shadow: $tShadow;
}

/* ~SECTIONS~ */

.parent {
  display: grid;
  grid: {
    template-columns: repeat(6, 1fr);
    template-rows: repeat(5, 1fr);
  }
  gap: 1rem;
  width: 99vw;
  height: 99vh;
}

.hLogo {
  display: grid;
  grid: {
    column: span 2 / span 2;
    row: span 2 / span 2;
    column-start: 3;
    row-start: 1;
  }
  padding-top: 2rem;
  padding-bottom: 1rem;
  align-content: space-between;
  overflow: hidden;
}

.hIcon {
  position: absolute;
  max-width: 30%;
  animation: logoBounce 0.5s cubic-bezier(0.1, 0.1, 1, 0.1);
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.hReturn {
  max-width: 30%;
  animation: logoBounce 0.5s cubic-bezier(0.1, 0.1, 1, 0.1);
  animation-direction: alternate;
  animation-iteration-count: infinite;
  padding-bottom: 0.1vh;
}

// Light Bouncing Animation for Logo
@keyframes logoBounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 10px, 0);
  }
}

//Light Shaking Animation for Hover Buttons
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.hAbout {
  display: grid;
  grid: {
    column: span 2 / span 2;
    row: span 2 / span 2;
    column-start: 3;
    row-start: 3;
  }
  justify-content: left;
  background-color: $cardColor;
  box-shadow: $iShadow;
  border-color: $cardColor;
  border-radius: 1rem;
  z-index: -2;
  padding-top: 0.2rem;
  padding-left: 0.5rem;
  overflow: hidden;
}

.luther {
  display: grid;
  max-width: 30%;
  max-height: 30%;
  align-self: end;
  justify-self: end;
  position: absolute;
  opacity: 0.8;
  z-index: -1;
}

.hBlog {
  display: grid;
  grid: {
    column: span 2 / span 2;
    row: span 4 / span 4;
    column-start: 1;
    row-start: 1;
  }
  background-color: $cardColor;
  border-color: $cardColor;
  // background: $darkGradient;
  border-radius: 1rem;
  overflow: hidden;
}

.blogContainer {
  background: $lightGradient;
  padding: 2%;
  border-radius: 10px;
  box-shadow: $iShadow;
  backdrop-filter: blur(10px);
}

.blogPost {
  margin: auto;
}

.hNavigation {
  display: grid;
  grid: {
    column: span 2 / span 2;
    row: span 4 / span 4;
    column-start: 5;
    row-start: 1;
  }
  background-color: $cardColor;
  border-color: $cardColor;
  border-radius: 1rem;
  overflow: hidden;
}

.navBar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: center;
  gap: 2%;
}

.scrobbleContainer {
  height: fit-content;
  padding: 2%;
  justify-self: center;
  margin: 3%;
}
.scrobble {
  height: auto;
  max-height: inherit;
}

.hSocials {
  display: grid;
  grid: {
    column: span 6 / span 6;
    row-start: 5;
  }
  background-color: $cardColor;
  border-color: $cardColor;
  border-radius: 1rem;
  padding-top: 0.2rem;
  padding-left: 0.5rem;
  overflow: hidden;
}

.otswebring {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
}

.badgeContainer {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.tagContainer {
  position: relative;
  display: flex;
  justify-content: space-around;
  max-height: 100%;
  flex-wrap: wrap;
}

.socialBadge {
  max-height: 100%;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.tagBadge {
  max-height: 100%;
}

.socialBadge:hover {
  box-shadow: 0 5px 15px $cDark;
  transform: translateY(-5px);
}

.spacer {
  padding-bottom: 1rem;
}

.title {
  padding: 0.2vh;
  margin-bottom: 1%;
}

.subtitle {
  padding: 0.2vh;
  margin-bottom: 5%;
  color: $cWhite;
}
