// - COLORS - //
$colorBlack: #1a1a1a;
$colorWhite: #f5f5f5;
$colorGray: #6d6d6d;
$colorRed: #bd555f;
$colorBlue: #6699cc;
$colorGreen: #86bf8f;
$colorYellow: #e6cca1;
$colorPink: #c98f8f;

// - FONTS - //
@font-face {
  font-family: "Jacquard";
  src:
    url("fonts/Jacquard12-Regular.ttf"),
    format("ttf");
}
@font-face {
    font-family: Brutal;
    src: url(fonts/DarkerGrotesque-VariableFont_wght.ttf);
    font-weight: 100 900;
}
// - FONT SIZES - //
$smallFont: 18px;
$mediumFont: 24px;
$largeFont: 36px;