// - COLORS - //
$colorBlack: #1a1a1a;
$colorWhite: #f5f5f5;
$colorGray: #6d6d6d;
$colorRed: #bd555f;
$colorBlue: #6699cc;
$colorGreen: #86bf8f;
$colorYellow: #e6cca1;
$colorPink: #c98f8f;

// - FONTS - //
@font-face {
  font-family: "Diary";
  src: url("fonts/DiaryOfAn8BitMage-lYDD.ttf") format("truetype");
}
@font-face {
  font-family: "Minecraft";
  src: url("fonts/Minecraft-Regular.ttf") format("truetype");
}
// - FONT SIZES - //
$smallFont: 18px;
$mediumFont: 24px;
$largeFont: 36px;

// - SHADOWS - //
$textShadow : 2px 5px 5px rgba(26,26,26,0.55);
