//Import
@use "variables" as *;

.BlogTitle {
    margin: 1vw;
    font-family: "Diary";
    font-size: $largeFont;
    text-shadow: $textShadow;
    padding-bottom: 5vh;
}

.BlogList {
    display: flex;
    flex-flow: row wrap;
    gap: 2vw;
    margin: 1vw;
}

.BlogItem {
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.BlogItem a {

    text-shadow: $textShadow;
    text-decoration: none;
    color: inherit;
    background-color: $colorGreen;
    height: 100%;
    display: flex;
    align-items: center;
    clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 0% 100%);
    padding-left: 2vw;
    padding: 1vw 2vw 1vw 3vw;
}

.BlogItem:hover {
  transform: scale(1.05) rotate(-1deg);
  filter: brightness(1.05);
}

.BlogWrapper {
    filter: drop-shadow(-10px 0px 5px rgba(0, 0, 0, 0.25));
    margin-left: -4vw;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
}

.BlogItem {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 5vh;
    min-width: 47vw;
    max-width: 47.1vw;
    font-family: "Diary";
    font-size: $smallFont;
    border-radius: 3vw 0vw 0vw 3vw;
    overflow: hidden;
}

.BlogIcon {
    height: 100%;
    width: auto;
    object-fit: contain;
    z-index: 1;
}

.BlogSlug {
    margin: 2%;
    font-size: $mediumFont;
    font-family: Minecraft !important;
}

.BlogSlug h1 {
    font-size: $largeFont;
    font-family: Diary !important;
}