// Import Variables
@use 'variables' as *;

// - GLOBALS - //
html {
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    min-height: 100vh;
    background-color: $colorYellow;
}

a {
    text-decoration: none;
}

// Back/Home Icons
.HomeIcon {
  position: absolute;
  width: 10vh;
  height: auto;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  bottom: 0%;
  left: 0%;
padding-left: 1%;
padding-bottom: 1%;
}

.HomeIcon:hover {
  transform: scale(1.2) rotate(5deg);
  filter: brightness(1.1);
  color: $colorGreen;
}