// Import Variables
@use 'variables' as *;

// - GLOBALS - //
html {
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    min-height: 100vh;
}

// Transition
@keyframes curtainOut {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes curtainIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}