//Import
@use "variables" as *;

// Index/Homepage Styling
.IndexBannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.LutherContainer {
  width: 100%;
  height: 100%;
}

.Luther {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.Background {
  display: block;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

// Route Icons

.Routes {
  position: absolute;
  display: grid;
  margin-top: 35vh;
  margin-left: 65vw;
  font-family: Diary;
  color: $colorBlack;
  font-size: $mediumFont;
  justify-items: center;
  text-shadow: 2px 2px 0 $colorWhite;
  z-index: 2;
}

@media (min-width: 760px) {
  .Routes {
    margin-left: 30vw;
  }
}

.HalfMoon {
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
}

:root {
  --radius: 30vh;
}

.HalfMoon .Routes:nth-child(6) {
  transform: rotate(90deg) translate(var(--radius)) rotate(-90deg);
}

.HalfMoon .Routes:nth-child(5) {
  transform: rotate(126deg) translate(var(--radius)) rotate(-126deg);
}

.HalfMoon .Routes:nth-child(4) {
  transform: rotate(162deg) translate(var(--radius)) rotate(-162deg);
}

.HalfMoon .Routes:nth-child(3) {
  transform: rotate(198deg) translate(var(--radius)) rotate(-198deg);
}

.HalfMoon .Routes:nth-child(2) {
  transform: rotate(234deg) translate(var(--radius)) rotate(-234deg);
}

.HalfMoon .Routes:nth-child(1) {
  transform: rotate(270deg) translate(var(--radius)) rotate(-270deg);
}

.IndexIcons {
  width: 15vh;
  height: auto;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.IndexIcons:hover {
  transform: scale(1.2) rotate(5deg);
  filter: brightness(1.1);
  color: $colorGreen;
}

// Radio

.Hotspot {
  border-radius: 2%;
  background-color:unset;
  margin: auto;
  border: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.Hotspot:hover {
  transform: scale(1.2);
}

/* Make it pulse when playing */
.Hotspot.playing {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 $colorYellow;
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 0, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 255, 0);
  }
}