//Import
@use "variables" as *;

// Index/Homepage Styling
.IndexBannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.DareFont {
  font-family: Brutal;
  font-weight: 900;
  font-size: 10vh;
  color: $colorYellow;
}

.StrangeFont {
  font-family: Jacquard;
  font-size: 10vh;
  color: $colorGreen;
}

.LogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.LutherContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.LutherContainer a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(calc(var(--i) * 60deg)) translate(20vh)
    rotate(calc(var(--i) * -60deg));
    z-index: 10;
}

.Luther {
  position: absolute;
  width: 60vw;
  height: 60vh;
  z-index: -1;
}

.Sigil {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}
