//Import
@use "variables" as *;

// Index/Homepage Styling
.IndexBannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.DareFont {
  font-family: Brutal;
  font-weight: 900;
  font-size: 10vh;
  color: $colorYellow;
}

.StrangeFont {
  font-family: Jacquard;
  font-size: 10vh;
  color: $colorGreen;
}

.LutherContainer {
  width: 100%;
  height: 100%;
}

.Luther {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.Background {
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.Routes {
  position: absolute;
  z-index: 2;
}

.IndexIcons {
  width: 10vw;
  height: 10vh;
}
