//Import
@use "variables" as *;

// Index/Homepage Styling
.IndexBannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.DareFont {
  font-family: Brutal;
  font-weight: 900;
  font-size: 10vh;
  color: $colorYellow;
}

.StrangeFont {
  font-family: Jacquard;
  font-size: 10vh;
  color: $colorGreen;
}

.LutherContainer {
  width: 100%;
  height: 100%;
}

.Luther {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.Background {
  display: block;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

// Route Icons

.Routes {
  position: absolute;
  margin-top: 40vh;
  margin-left: 65vw;
  z-index: 2;
}

@media (min-width: 760px) {
  .Routes {
    margin-left: 30vw;
  }
}

.HalfMoon {
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
}

/* Radius of the arc (how far out the icons sit) */
:root {
  --radius: 30vh;
}

.HalfMoon .Routes:nth-child(6) {
    transform: rotate(90deg) translate(var(--radius)) rotate(-90deg);
}

.HalfMoon .Routes:nth-child(5) {
    transform: rotate(126deg) translate(var(--radius)) rotate(-126deg);
}

.HalfMoon .Routes:nth-child(4) {
    transform: rotate(162deg) translate(var(--radius)) rotate(-162deg);
}

.HalfMoon .Routes:nth-child(3) {
    transform: rotate(198deg) translate(var(--radius)) rotate(-198deg);
}

.HalfMoon .Routes:nth-child(2) {
    transform: rotate(234deg) translate(var(--radius)) rotate(-234deg);
}

.HalfMoon .Routes:nth-child(1) {
    transform: rotate(270deg) translate(var(--radius)) rotate(-270deg);
}

.IndexIcons {
  width: 15vh;
  height: auto;
}

// Radio

.Hotspot {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s;
}

.Hotspot:hover {
  transform: scale(1.2);
}

/* Make it pulse when playing */
.Hotspot.playing {
  background: $colorGreen; /* Or a color from your scene */
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 $colorYellow;
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 0, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 255, 0);
  }
}

.Play {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid white;
  margin: auto;
  font-size: $mediumFont;
  color: $colorGreen;
  text-shadow: 2px 2px 0 $colorBlack;
}
