//Import
@use "variables" as *;

.PortfolioContainer {
  flex-direction: column;
  align-items: center;
}

.FilterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vw;
}

.FilterItem {
  display: flex;
  align-items: center;
  transition: all 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.FilterItem:hover {
  transform: scale(1.2);
}

.FilterIcons {
  width: auto;
  height: 32px;
  padding-right: 0.2vw;
}
