//Import
@use "variables" as *;

.PortfolioContainer {
  flex-direction: column;
  align-items: center;
}

// Filter Bar

.FilterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vw;
}

.FilterItem {
  display: flex;
  align-items: center;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.FilterItem:hover {
  transform: scale(1.2);
}

.FilterIcons {
  width: auto;
  height: 32px;
  padding-right: 0.2vw;
}

// Content

.PortfolioGrid {
  margin-top: 5vh;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.PortfolioItem {
  display: flex;
  flex-direction: column;
  background-color: $colorBlack;
  font-family: Diary;
  color: $colorWhite;
  font-size: $smallFont;
  padding: 1vw;
  transform:
    perspective(70vw)
    rotateX(5deg);
  border-radius: 8px;
  box-shadow: 0 9px 1.4vw rgba(0, 0, 0, 0.2);
  transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
}

.PortfolioItem:hover {
  transform: scale(1.3);
}

.PortfolioItem img {
  margin: auto;
  height: auto;
  width: 20vw;
}

.PortfolioItem.expanded {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  z-index: 3;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.PortfolioItem.expanded img {
  width: auto !important;
  max-width: 50vw;
  height: auto !important;
  max-height: 90vw;
  object-fit: contain;
}