---
import "../styles/global.scss";
import "../styles/anotherworld.scss";
import Home from "../components/Home.astro";
import {Content as Manifesto} from "../../content/anotherworld/anotherWorldManifesto.md"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Another World Foundation</title>
  </head>
  <body>
    <h1>The Another World Foundation WIP</h1>
    <Manifesto/>
  </body>
  <Home/>
</html>
