---
import { ClientRouter } from "astro:transitions";
import "../styles/global.scss";
---
<html lang="en">
  <head>
    <title>Blog</title>
    <ClientRouter />
  </head>
  <body>
    <h1>Blog Page WIP</h1>
    <a href="/"><img class="HomeIcon" src="icons/Home.png" /></a>
  </body>
</html>