---
import { ClientRouter } from "astro:transitions";
import "../styles/global.scss";
---
<html lang="en">
  <head>
    <title>Games</title>
  </head>
  <body>
    <h1>Games Page</h1>
  </body>
</html>