---
import "../styles/global.scss";
---
<html lang="en">
  <head>
    <title>Games</title>
  </head>
  <body>
    <h1>Games Page WIP</h1>
    <a href="/"><img class="HomeIcon" src="icons/Home.png" /></a>
  </body>
</html>