---
import "../styles/global.scss";
import Home from "../components/Home.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Games</title>
    <script src="../scripts/sounds.js"></script>
  </head>
  <body>
    <h1>Games Page WIP</h1>
  </body>
  <Home/>
</html>
