---
import "../styles/global.scss";
import "../styles/index.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/Other-Heaven.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Other Heaven</title>
    <script>
      import { ModelViewerElement } from "@google/model-viewer";
      if (
        typeof customElements !== "undefined" &&
        !customElements.get("model-viewer")
      ) {
        customElements.define("model-viewer", ModelViewerElement);
      }
    </script>
  </head>
  <body>
    <div class="LutherContainer">
      <model-viewer
        class="Luther"
        src="OtherHeaven.gltf"
        ar
        ar-modes="webxr scene-viewer quick-look"
        camera-controls
        tone-mapping="neutral"
        shadow-intensity="1"
        autoplay
        camera-orbit="-77.82deg 90.51deg 36.97m"
        field-of-view="14.77deg"></model-viewer>
      <img class="Background" src="/src/images/Day.jpg" />
    </div>
  </body>
</html>
