---
import { Image } from "astro:assets";
import "../styles/global.scss";
import "../styles/index.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/Other-Heaven.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Other Heaven</title>
    <script>
      import { ModelViewerElement } from "@google/model-viewer";
      if (
        typeof customElements !== "undefined" &&
        !customElements.get("model-viewer")
      ) {
        customElements.define("model-viewer", ModelViewerElement);
      }
    </script>
  </head>
  <body>
    <div class="LutherContainer">
      <model-viewer
        class="Luther"
        src="src/3d/OtherHeaven.gltf"
        interaction-prompt="none"
        camera-controls
        autoplay
        camera-target="0m 3.268m 0m" camera-orbit="-66.98deg 80.57deg 49.72m" field-of-view="10deg"></model-viewer>
      <img class="Background" src="/src/images/Day.jpg" />
    </div>
  </body>
</html>
