---
import "../styles/global.scss";
---

<html lang="en">
  <head>
    <title>Music</title>
    <script src="../scripts/sounds.js"></script>
  </head>
  <body>
    <h1>Music Page WIP</h1>
    <a href="/"
      ><img
        class="HomeIcon"
        src="/icons/Home.png"
        data-sfx-hover
        data-sfx-click="home"
      /></a
    >
  </body>
</html>
