---
import { ClientRouter } from "astro:transitions";
import "../styles/global.scss";
import "../styles/portfolio.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/Other-Heaven.png" />
    <title>Portfolio</title>
    <ClientRouter />
  </head>
  <body>
    <div class="PortfolioContainer">
      <div><h1>Portfolio Page WIP</h1></div>
      <div class="FilterContainer">
        <div class="FilterItem"><img class="FilterIcons" src="/icons/PortfolioIcons/OrbFlame.png" />#2D</div>
        <div class="FilterItem"><img class="FilterIcons" src="/icons/PortfolioIcons/OrbYellow.png" />#3D</div>
        <div class="FilterItem"><img class="FilterIcons" src="/icons/PortfolioIcons/OrbBlue.png" />#Pixel</div>
        <div class="FilterItem"><img class="FilterIcons" src="/icons/PortfolioIcons/OrbGreen.png" />#Concept</div>
        <div class="FilterItem"><img class="FilterIcons" src="/icons/PortfolioIcons/OrbNight.png" />#Voxel</div>
        <div class="FilterItem"><img class="FilterIcons" src="/icons/PortfolioIcons/OrbSilver.png" />#Code</div>
        <div class="FilterItem"><img class="FilterIcons" src="/icons/PortfolioIcons/OrbRed.png" />#Mods</div>
        <div class="FilterItem"><img class="FilterIcons" src="/icons/PortfolioIcons/OrbPink.png" />#Design</div>
      </div>
      <div>Portfolio Part</div>
    </div>
  </body>
</html><footer>
  <a href="/"><img class="HomeIcon" src="/icons/Home.png" /></a>
</footer>
