---
import { ClientRouter } from "astro:transitions";
import "../styles/global.scss";
import "../styles/portfolio.scss";
---

<html lang="en">
  <head>
    <title>Portfolio</title>
    <ClientRouter />
  </head>
  <body>
    <h1>Portfolio Page</h1>
    <a href="/"><img class="HomeIcon" src="/src/icons/Home.png" /></a>
  </body>
</html>
