---
import { ClientRouter } from "astro:transitions";
import "../styles/global.scss";
---
<html lang="en">
  <head>
    <title>Social</title>
  </head>
  <body>
    <h1>Social Page</h1>
    <a href="/"><img class="HomeIcon" src="/src/icons/Home.png" /></a>
  </body>
</html>