{% extends "base.html" %} {% block content %}
<a href="/"
  ><img
    style="position: absolute; z-index: 1"
    src="/Button-Return-Home.png"
    alt="Return to Home Page"
    class="hReturn"
/></a>
<div class="scrollManager">
  <div class="albumContainer">
    <div class="albumScroll">
      <img src="/gameImages/Arx.webp" />
      <img src="/gameImages/ATS.webp" />
      <img src="/gameImages/BG3.webp" />
      <img src="/gameImages/BioshockInf.webp" />
      <img src="/gameImages/Bioshock.webp" />
      <img src="/gameImages/BlackDesert.webp" />
      <img src="/gameImages/Bloodborne.webp" />
      <img src="/gameImages/Bomberman.webp" />
      <img src="/gameImages/BombRush.webp" />
      <img src="/gameImages/Borderlands.webp" />
    </div>
    <div class="albumScroll">
      <img src="/gameImages/Arx.webp" />
      <img src="/gameImages/ATS.webp" />
      <img src="/gameImages/BG3.webp" />
      <img src="/gameImages/BioshockInf.webp" />
      <img src="/gameImages/Bioshock.webp" />
      <img src="/gameImages/BlackDesert.webp" />
      <img src="/gameImages/Bloodborne.webp" />
      <img src="/gameImages/Bomberman.webp" />
      <img src="/gameImages/BombRush.webp" />
      <img src="/gameImages/Borderlands.webp" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScrollAlt">
      <img src="/gameImages/BOTW.webp" />
      <img src="/gameImages/CastleCrashers.webp" />
      <img src="/gameImages/CastlevaniaAC.webp" />
      <img src="/gameImages/CastlevaniaSOTN.webp" />
      <img src="/gameImages/CavesOfQud.webp" />
      <img src="/gameImages/CaveStory.webp" />
      <img src="/gameImages/ChaosHead.webp" />
      <img src="/gameImages/ChronoTrigger.webp" />
      <img src="/gameImages/CloudMeadow.webp" />
      <img src="/gameImages/CoC.webp" />
    </div>
    <div class="albumScrollAlt">
      <img src="/gameImages/BOTW.webp" />
      <img src="/gameImages/CastleCrashers.webp" />
      <img src="/gameImages/CastlevaniaAC.webp" />
      <img src="/gameImages/CastlevaniaSOTN.webp" />
      <img src="/gameImages/CavesOfQud.webp" />
      <img src="/gameImages/CaveStory.webp" />
      <img src="/gameImages/ChaosHead.webp" />
      <img src="/gameImages/ChronoTrigger.webp" />
      <img src="/gameImages/CloudMeadow.webp" />
      <img src="/gameImages/CoC.webp" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScroll">
      <img src="/gameImages/CoDMW2.webp" />
      <img src="/gameImages/Cross Channel.webp" />
      <img src="/gameImages/Cube World.webp" />
      <img src="/gameImages/Cyberpunk2077.webp" />
      <img src="/gameImages/DanganronpaS.webp" />
      <img src="/gameImages/Danganronpa.webp" />
      <img src="/gameImages/DarkestDungeon.webp" />
      <img src="/gameImages/Darksiders2.webp" />
      <img src="/gameImages/Darksiders.webp" />
      <img src="/gameImages/Dark Souls 2.webp" />
    </div>
    <div class="albumScroll">
      <img src="/gameImages/CoDMW2.webp" />
      <img src="/gameImages/Cross Channel.webp" />
      <img src="/gameImages/Cube World.webp" />
      <img src="/gameImages/Cyberpunk2077.webp" />
      <img src="/gameImages/DanganronpaS.webp" />
      <img src="/gameImages/Danganronpa.webp" />
      <img src="/gameImages/DarkestDungeon.webp" />
      <img src="/gameImages/Darksiders2.webp" />
      <img src="/gameImages/Darksiders.webp" />
      <img src="/gameImages/Dark Souls 2.webp" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScrollAlt">
      <img src="/gameImages/Dark Souls 3.webp" />
      <img src="/gameImages/Darktide.webp" />
      <img src="/gameImages/Deponia.webp" />
      <img src="/gameImages/Destiny2.webp" />
      <img src="/gameImages/DetectiveGrim.webp" />
      <img src="/gameImages/DeusEx.webp" />
      <img src="/gameImages/Dishonored.webp" />
      <img src="/gameImages/DoomEternal.webp" />
      <img src="/gameImages/DOS2.webp" />
      <img src="/gameImages/DotHack.webp" />
    </div>
    <div class="albumScrollAlt">
      <img src="/gameImages/Dark Souls 3.webp" />
      <img src="/gameImages/Darktide.webp" />
      <img src="/gameImages/Deponia.webp" />
      <img src="/gameImages/Destiny2.webp" />
      <img src="/gameImages/DetectiveGrim.webp" />
      <img src="/gameImages/DeusEx.webp" />
      <img src="/gameImages/Dishonored.webp" />
      <img src="/gameImages/DoomEternal.webp" />
      <img src="/gameImages/DOS2.webp" />
      <img src="/gameImages/DotHack.webp" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScroll">
      <img src="/gameImages/DragonAgeI.webp" />
      <img src="/gameImages/DragonAge.webp" />
      <img src="/gameImages/DragonsCrown.webp" />
      <img src="/gameImages/DragonsDogma2.webp" />
      <img src="/gameImages/Dragon'sDogma.webp" />
      <img src="/gameImages/DreadDelusion.webp" />
      <img src="/gameImages/DyingLight2.webp" />
      <img src="/gameImages/DyingLight.webp" />
      <img src="/gameImages/Earthbound.webp" />
      <img src="/gameImages/Edelweiss.webp" />
    </div>
    <div class="albumScroll">
      <img src="/gameImages/DragonAgeI.webp" />
      <img src="/gameImages/DragonAge.webp" />
      <img src="/gameImages/DragonsCrown.webp" />
      <img src="/gameImages/DragonsDogma2.webp" />
      <img src="/gameImages/Dragon'sDogma.webp" />
      <img src="/gameImages/DreadDelusion.webp" />
      <img src="/gameImages/DyingLight2.webp" />
      <img src="/gameImages/DyingLight.webp" />
      <img src="/gameImages/Earthbound.webp" />
      <img src="/gameImages/Edelweiss.webp" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScrollAlt">
      <img src="/gameImages/Elona.webp" />
      <img src="/gameImages/EtrianOdyssey.webp" />
      <img src="/gameImages/Factorio.webp" />
      <img src="/gameImages/Fallout4.webp" />
      <img src="/gameImages/FalloutNV.webp" />
      <img src="/gameImages/FateStayNight.webp" />
      <img src="/gameImages/FEA.webp" />
      <img src="/gameImages/FETH.webp" />
      <img src="/gameImages/FFII.webp" />
      <img src="/gameImages/FFO.webp" />
    </div>
    <div class="albumScrollAlt">
      <img src="/gameImages/Elona.webp" />
      <img src="/gameImages/EtrianOdyssey.webp" />
      <img src="/gameImages/Factorio.webp" />
      <img src="/gameImages/Fallout4.webp" />
      <img src="/gameImages/FalloutNV.webp" />
      <img src="/gameImages/FateStayNight.webp" />
      <img src="/gameImages/FEA.webp" />
      <img src="/gameImages/FETH.webp" />
      <img src="/gameImages/FFII.webp" />
      <img src="/gameImages/FFO.webp" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScroll">
      <img src="/gameImages/FFT.webp" />
      <img src="/gameImages/FFXIV.webp" />
      <img src="/gameImages/FFXV.webp" />
      <img src="/gameImages/FFX.webp" />
      <img src="/gameImages/FreddiFish.webp" />
      <img src="/gameImages/GodEater3.webp" />
      <img src="/gameImages/GoldenSun.webp" />
      <img src="/gameImages/Grandia.webp" />
      <img src="/gameImages/Grisaia.webp" />
      <img src="/gameImages/GSenjou.webp" />
    </div>
    <div class="albumScroll">
      <img src="/gameImages/FFT.webp" />
      <img src="/gameImages/FFXIV.webp" />
      <img src="/gameImages/FFXV.webp" />
      <img src="/gameImages/FFX.webp" />
      <img src="/gameImages/FreddiFish.webp" />
      <img src="/gameImages/GodEater3.webp" />
      <img src="/gameImages/GoldenSun.webp" />
      <img src="/gameImages/Grandia.webp" />
      <img src="/gameImages/Grisaia.webp" />
      <img src="/gameImages/GSenjou.webp" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScrollAlt">
      <img src="/gameImages/GTAIV.webp" />
      <img src="/gameImages/GTASA.webp" />
      <img src="/gameImages/GTAV.webp" />
      <img src="/gameImages/GunfireReborn.webp" />
      <img src="/gameImages/Halo3.webp" />
      <img src="/gameImages/HarvestMoon.webp" />
      <img src="/gameImages/Higurashi.webp" />
      <img src="/gameImages/HL2.webp" />
      <img src="/gameImages/HL.webp" />
      <img src="/gameImages/HoshiOri.webp" />
    </div>
    <div class="albumScrollAlt">
      <img src="/gameImages/GTAIV.webp" />
      <img src="/gameImages/GTASA.webp" />
      <img src="/gameImages/GTAV.webp" />
      <img src="/gameImages/GunfireReborn.webp" />
      <img src="/gameImages/Halo3.webp" />
      <img src="/gameImages/HarvestMoon.webp" />
      <img src="/gameImages/Higurashi.webp" />
      <img src="/gameImages/HL2.webp" />
      <img src="/gameImages/HL.webp" />
      <img src="/gameImages/HoshiOri.webp" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScroll">
      <img src="/gameImages/Hoshizora.webp" />
      <img src="/gameImages/IfMyHeartHadWings.webp" />
      <img src="/gameImages/Infamous2.webp" />
      <img src="/gameImages/Infamous.webp" />
      <img src="/gameImages/Jak.webp" />
      <img src="/gameImages/JetSetRadioFuture.webp" />
      <img src src="/gameImages/JetSetRadio.webp" />
      <img src="/gameImages/Kenshi.webp" />
      <img src="/gameImages/KillingFloor2.webp" />
      <img src="/gameImages/KingdomHearts.webp" />
    </div>
    <div class="albumScroll">
      <img src="/gameImages/Hoshizora.webp" />
      <img src="/gameImages/IfMyHeartHadWings.webp" />
      <img src="/gameImages/Infamous2.webp" />
      <img src="/gameImages/Infamous.webp" />
      <img src="/gameImages/Jak.webp" />
      <img src="/gameImages/JetSetRadioFuture.webp" />
      <img src="/gameImages/JetSetRadio.webp" />
      <img src="/gameImages/Kenshi.webp" />
      <img src="/gameImages/KillingFloor2.webp" />
      <img src="/gameImages/KingdomHearts.webp" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScrollAlt">
      <img src="/gameImages/KirbyAR.webp" />
      <img src="/gameImages/KirbySS.webp" />
      <img src="/gameImages/KOTORII.webp" />
      <img src="/gameImages/KOTOR.webp" />
      <img src="/gameImages/LethalLeague.webp" />
      <img src="/gameImages/LufiaII.webp" />
      <img src="/gameImages/Lunar.webp" />
      <img src="/gameImages/Mafia II.webp" />
      <img src="/gameImages/Majikoi.webp" />
      <img src="/gameImages/ManaKhemia2.webp" />
    </div>
    <div class="albumScrollAlt">
      <img src="/gameImages/KirbyAR.webp" />
      <img src="/gameImages/KirbySS.webp" />
      <img src="/gameImages/KOTORII.webp" />
      <img src="/gameImages/KOTOR.webp" />
      <img src="/gameImages/LethalLeague.webp" />
      <img src="/gameImages/LufiaII.webp" />
      <img src="/gameImages/Lunar.webp" />
      <img src="/gameImages/Mafia II.webp" />
      <img src="/gameImages/Majikoi.webp" />
      <img src="/gameImages/ManaKhemia2.webp" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScroll">
      <img src="/gameImages/ManaKhemia.webp" />
      <img src="/gameImages/Maplestory.webp" />
      <img src="/gameImages/MarioRPG.webp" />
      <img src="/gameImages/Mass Effect.webp" />
      <img src="/gameImages/MaxPayne.webp" />
      <img src="/gameImages/Megaman.webp" />
      <img src="/gameImages/MegamanZX.webp" />
      <img src="/gameImages/MeteorWorldActor.webp" />
      <img src="/gameImages/MGSIII.webp" />
      <img src="/gameImages/MGSR.webp" />
    </div>
    <div class="albumScroll">
      <img src="/gameImages/ManaKhemia.webp" />
      <img src="/gameImages/Maplestory.webp" />
      <img src="/gameImages/MarioRPG.webp" />
      <img src="/gameImages/Mass Effect.webp" />
      <img src="/gameImages/MaxPayne.webp" />
      <img src="/gameImages/Megaman.webp" />
      <img src="/gameImages/MegamanZX.webp" />
      <img src="/gameImages/MeteorWorldActor.webp" />
      <img src="/gameImages/MGSIII.webp" />
      <img src="/gameImages/MGSR.webp" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScrollAlt">
      <img src="/gameImages/MGSV.webp" />
      <img src="/gameImages/MHW.webp" />
      <img src="/gameImages/Minecraft.webp" />
      <img src="/gameImages/MonsterGirlDreams.webp" />
      <img src="/gameImages/Moonring.webp" />
      <img src="/gameImages/Musicus.webp" />
      <img src="/gameImages/MuvLuv.webp" />
      <img src="/gameImages/NarutoCoN2.webp" />
      <img src="/gameImages/NierAuto.webp" />
      <img src="/gameImages/Nier.webp" />
    </div>
    <div class="albumScrollAlt">
      <img src="/gameImages/MGSV.webp" />
      <img src="/gameImages/MHW.webp" />
      <img src="/gameImages/Minecraft.webp" />
      <img src="/gameImages/MonsterGirlDreams.webp" />
      <img src="/gameImages/Moonring.webp" />
      <img src="/gameImages/Musicus.webp" />
      <img src="/gameImages/MuvLuv.webp" />
      <img src="/gameImages/NarutoCoN2.webp" />
      <img src="/gameImages/NierAuto.webp" />
      <img src="/gameImages/Nier.webp" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScroll">
      <img src="/gameImages/No Man's Sky.webp" />
      <img src="/gameImages/Outward.webp" />
      <img src="/gameImages/Overgrowth.webp" />
      <img src="/gameImages/PajamaSam.webp" />
      <img src="/gameImages/PaperMario.webp" />
      <img src="/gameImages/Pathfinder.webp" />
      <img src="/gameImages/Persona3FES.webp" />
      <img src="/gameImages/PhoenixWright.webp" />
      <img src="/gameImages/PokemonColosseum.webp" />
      <img src="/gameImages/PokemonLegends.webp" />
    </div>
    <div class="albumScroll">
      <img src="/gameImages/No Man's Sky.webp" />
      <img src="/gameImages/Outward.webp" />
      <img src="/gameImages/Overgrowth.webp" />
      <img src="/gameImages/PajamaSam.webp" />
      <img src="/gameImages/PaperMario.webp" />
      <img src="/gameImages/Pathfinder.webp" />
      <img src="/gameImages/Persona3FES.webp" />
      <img src="/gameImages/PhoenixWright.webp" />
      <img src="/gameImages/PokemonColosseum.webp" />
      <img src="/gameImages/PokemonLegends.webp" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScrollAlt">
      <img src="/gameImages/PokemonSMD.webp" />
      <img src="/gameImages/Pokemon.webp" />
      <img src="/gameImages/PokemonWhite2.webp" />
      <img src="/gameImages/PokemonXD.webp" />
      <img src="/gameImages/Portal2.webp" />
      <img src="/gameImages/Portal.webp" />
      <img src="/gameImages/Prototype2.webp" />
      <img src="/gameImages/Prototype.webp" />
      <img src="/gameImages/PSO2.webp" />
      <img src="/gameImages/PSO.webp" />
    </div>
    <div class="albumScrollAlt">
      <img src="/gameImages/PokemonSMD.webp" />
      <img src="/gameImages/Pokemon.webp" />
      <img src="/gameImages/PokemonWhite2.webp" />
      <img src="/gameImages/PokemonXD.webp" />
      <img src="/gameImages/Portal2.webp" />
      <img src="/gameImages/Portal.webp" />
      <img src="/gameImages/Prototype2.webp" />
      <img src="/gameImages/Prototype.webp" />
      <img src="/gameImages/PSO2.webp" />
      <img src="/gameImages/PSO.webp" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScroll">
      <img src="/gameImages/Psychonauts.webp" />
      <img src="/gameImages/PuttPutt.webp" />
      <img src="/gameImages/Raft.webp" />
      <img src="/gameImages/RagingLoop.webp" />
      <img src="/gameImages/Rayman.webp" />
      <img src="/gameImages/Rimworld.webp" />
      <img src="/gameImages/RoR2.webp" />
      <img src="/gameImages/RuneFactory.webp" />
      <img src="/gameImages/SA2.webp" />
      <img src="/gameImages/Satisfactory.webp" />
    </div>
    <div class="albumScroll">
      <img src="/gameImages/Psychonauts.webp" />
      <img src="/gameImages/PuttPutt.webp" />
      <img src="/gameImages/Raft.webp" />
      <img src="/gameImages/RagingLoop.webp" />
      <img src="/gameImages/Rayman.webp" />
      <img src="/gameImages/Rimworld.webp" />
      <img src="/gameImages/RoR2.webp" />
      <img src="/gameImages/RuneFactory.webp" />
      <img src="/gameImages/SA2.webp" />
      <img src="/gameImages/Satisfactory.webp" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScrollAlt">
      <img src="/gameImages/SFIII.webp" />
      <img src="/gameImages/SFIV.webp" />
      <img src="/gameImages/Shadowrun.webp" />
      <img src="/gameImages/ShadowWarrior2.webp" />
      <img src="/gameImages/Shadow.webp" />
      <img src="/gameImages/SharinNoKuni.webp" />
      <img src="/gameImages/ShiningForce.webp" />
      <img src="/gameImages/Shuffle.webp" />
      <img src="/gameImages/Sims3.webp" />
      <img src="/gameImages/Skyrim.webp" />
    </div>
    <div class="albumScrollAlt">
      <img src="/gameImages/SFIII.webp" />
      <img src="/gameImages/SFIV.webp" />
      <img src="/gameImages/Shadowrun.webp" />
      <img src="/gameImages/ShadowWarrior2.webp" />
      <img src="/gameImages/Shadow.webp" />
      <img src="/gameImages/SharinNoKuni.webp" />
      <img src="/gameImages/ShiningForce.webp" />
      <img src="/gameImages/Shuffle.webp" />
      <img src="/gameImages/Sims3.webp" />
      <img src="/gameImages/Skyrim.webp" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScroll">
      <img src="/gameImages/SleepingDogs.webp" />
      <img src="/gameImages/SmashUlti.webp" />
      <img src="/gameImages/Sonic3.webp" />
      <img src="/gameImages/SonicAdvance3.webp" />
      <img src="/gameImages/SonicBattle.webp" />
      <img src="/gameImages/SonicCD.webp" />
      <img src="/gameImages/SonicMania.webp" />
      <img src="/gameImages/SonicR.webp" />
      <img src="/gameImages/Spiderman.webp" />
      <img src="/gameImages/Spy Fox.webp" />
    </div>
    <div class="albumScroll">
      <img src="/gameImages/SleepingDogs.webp" />
      <img src="/gameImages/SmashUlti.webp" />
      <img src="/gameImages/Sonic3.webp" />
      <img src="/gameImages/SonicAdvance3.webp" />
      <img src="/gameImages/SonicBattle.webp" />
      <img src="/gameImages/SonicCD.webp" />
      <img src="/gameImages/SonicMania.webp" />
      <img src="/gameImages/SonicR.webp" />
      <img src="/gameImages/Spiderman.webp" />
      <img src="/gameImages/Spy Fox.webp" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScrollAlt">
      <img src="/gameImages/Stalker.webp" />
      <img src="/gameImages/StardewValley.webp" />
      <img src="/gameImages/Strider.webp" />
      <img src="/gameImages/SystemShock2.webp" />
      <img src="/gameImages/SystemShock.webp" />
      <img src="/gameImages/TacticsOgre.webp" />
      <img src="/gameImages/TalesofPhantasia.webp" />
      <img src="/gameImages/TalesofVesperia.webp" />
      <img src="/gameImages/TalesofXillia2.webp" />
      <img src="/gameImages/TalesofXillia.webp" />
    </div>
    <div class="albumScrollAlt">
      <img src="/gameImages/Stalker.webp" />
      <img src="/gameImages/StardewValley.webp" />
      <img src="/gameImages/Strider.webp" />
      <img src="/gameImages/SystemShock2.webp" />
      <img src="/gameImages/SystemShock.webp" />
      <img src="/gameImages/TacticsOgre.webp" />
      <img src="/gameImages/TalesofPhantasia.webp" />
      <img src="/gameImages/TalesofVesperia.webp" />
      <img src="/gameImages/TalesofXillia2.webp" />
      <img src="/gameImages/TalesofXillia.webp" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScroll">
      <img src="/gameImages/Terraria.webp" />
      <img src="/gameImages/TOCSII.webp" />
      <img src="/gameImages/Tomba.webp" />
      <img src="/gameImages/Trinoline.webp" />
      <img src="/gameImages/Tsujidou.webp" />
      <img src="/gameImages/Umineko.webp" />
      <img src="/gameImages/Underrail.webp" />
      <img src="/gameImages/Undertale.webp" />
      <img src="/gameImages/UnicornOverlord.webp" />
      <img src="/gameImages/Vagrant Story.webp" />
    </div>
    <div class="albumScroll">
      <img src="/gameImages/Terraria.webp" />
      <img src="/gameImages/TOCSII.webp" />
      <img src="/gameImages/Tomba.webp" />
      <img src="/gameImages/Trinoline.webp" />
      <img src="/gameImages/Tsujidou.webp" />
      <img src="/gameImages/Umineko.webp" />
      <img src="/gameImages/Underrail.webp" />
      <img src="/gameImages/Undertale.webp" />
      <img src="/gameImages/UnicornOverlord.webp" />
      <img src="/gameImages/Vagrant Story.webp" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScrollAlt">
      <img src="/gameImages/Vexx.webp" />
      <img src="/gameImages/VtMB.webp" />
      <img src="/gameImages/WHRT.webp" />
      <img src="/gameImages/WildArms.webp" />
      <img src="/gameImages/Witcher.webp" />
      <img src="/gameImages/Xenosaga.webp" />
      <img src="/gameImages/ZeldaLTTP.webp" />
      <img src="/gameImages/ZeldaMM.webp" />
      <img src="/gameImages/ZeldaTP.webp" />
      <img src="/gameImages/Zomboid.webp" />
    </div>
    <div class="albumScrollAlt">
      <img src="/gameImages/Vexx.webp" />
      <img src="/gameImages/VtMB.webp" />
      <img src="/gameImages/WHRT.webp" />
      <img src="/gameImages/WildArms.webp" />
      <img src="/gameImages/Witcher.webp" />
      <img src="/gameImages/Xenosaga.webp" />
      <img src="/gameImages/ZeldaLTTP.webp" />
      <img src="/gameImages/ZeldaMM.webp" />
      <img src="/gameImages/ZeldaTP.webp" />
      <img src="/gameImages/Zomboid.webp" />
    </div>
  </div>
</div>
{% endblock content %}