{% extends "base.html" %} {% block content %}
<div class="parent">
    <div class="hAbout">
        <h1>Who Am I? ✨Luther!✨</h1>
        <h4>
            A foul-mouthed software engineer that plays a lot of video games!
        </h4>
        <ul>
            <li>🎮 LoSpec</li>
            <li>🍜 Anime</li>
            <li>🦾 Cyberpunk</li>
            <hr />
            <li>⚛️ React</li>
            <li>🐍 Python</li>
            <li>🦀 Rust</li>
            <li>👑 Nim</li>
            <li>🗑️ C#</li>
            <hr />
            <li>🐊 Aseprite</li>
            <li>🍩 Blender</li>
            <li>📦 Blockbench</li>
            <li>🧱 Material Maker</li>
            <li>🤖 Godot</li>
        </ul>

        <img class="luther" src="Luther.png" alt="Luther" />
    </div>
    <div class="hLogo">
        <h2>Welcome to</h2>
        <h1>The Other Heaven</h1>
        <img src="Other-Heaven.png" alt="The Other Heaven Logo" class="hIcon"/>
    </div>
    <div class="hBlog">
        <h1>📓 Blog📓</h1>
        {% set blog_section = get_section(path="blog/_index.md") %} {% for page
        in blog_section.pages %}

        <ul class="blogPost">
            <li>
                <a href="{{ page.permalink | safe }}"> {{ page.title }} </a>
            </li>
        </ul>
        {% endfor %}
    </div>
    <div class="hNavigation">
        <h1>🗺️ Navigation 🗺️</h1>
        <nav class="navBar">
            <!-- <a href="{{ get_url(path='@/blog/_index.md') }}">
                <button>🖋️ Blog 🖋️</button>
            </a> -->
            <button>🖋️ Blog 🖋️</button>
            <!-- <button>
                <a href="{{ get_url(path='@/resources/_index.md') }}"
                    >🗃️ Resources 🗃️</a
                >
            </button> -->
            <button>🗃️ Resources 🗃️</button>
            <!-- <button>
                <a href="{{ get_url(path='@/showcase/_index.md') }}"
                    >🖼️ Showcase 🖼️</a
                >
            </button> -->
            <button>🖼️ Showcase 🖼️</button>
            <!-- <button>
                <a href="{{ get_url(path='@/socials/_index.md') }}"
                    >💬 Socials 💬</a
                >
            </button> -->
            <button>💬 Socials 💬</button>
            <h2>⚒️W.I.P⚒️</h2>
        </nav>
    </div>
    <div class="hSocials">
        <h1>💬 Socials & Contact 💬 | ⚒️W.I.P⚒️</h1>

        <a href="https://otherheaven.net" rel="nofollow">
            <img
                style="z-index: 1"
                src="Luther Blinkie.gif"
                alt="Luther's Other Heaven"
            />
        </a>

        <p>
            <a href="https://www.youtube.com/@Luther_the_Developer">Youtube</a>
        </p>
    </div>
</div>
{% endblock content %}
