{% extends "base.html" %} {% block content %}
<div class="parent">
  <div class="hAbout">
    <h1>Who Am I? ✨Luther!✨</h1>
    <h4>A foul-mouthed software engineer that plays a lot of video games!</h4>
    <ul>
      <li>🎮 LoSpec</li>
      <li>🍜 Anime</li>
      <li>🦾 Cyberpunk</li>
      <hr />
      <li>⚛️ React</li>
      <li>🐍 Python</li>
      <li>🦀 Rust</li>
      <li>👑 Nim</li>
      <li>🗑️ C#</li>
      <hr />
      <li>🐊 Aseprite</li>
      <li>🍩 Blender</li>
      <li>📦 Blockbench</li>
      <li>🧱 Material Maker</li>
      <li>🤖 Godot</li>
    </ul>

    <img class="luther" src="Luther.png" alt="Luther" />
  </div>
  <div class="hLogo">
    <h2>Welcome to</h2>
    <h1>The Other Heaven</h1>
    <img src="Other-Heaven.png" alt="The Other Heaven Logo" class="hIcon" />
  </div>
  <div class="hBlog">
    <h1>📓 Featured Posts📓</h1>
    {% set blog_section = get_section(path="blog/_index.md") %} {% for page in
    blog_section.pages %}

    <ul class="blogPost">
      <li>
        <a href="{{ page.permalink | safe }}"> {{ page.title }} </a>
      </li>
    </ul>
    {% endfor %}
  </div>
  <div class="hNavigation">
    <h1>🗺️ Navigation 🗺️</h1>
    <nav class="navBar">
      <!-- <a href="{{ get_url(path='@/blog/_index.md') }}">
                <button>🖋️ Blog 🖋️</button>
            </a> -->
      <button>🖋️ Blog 🖋️</button>
      <!-- <button>
                <a href="{{ get_url(path='@/resources/_index.md') }}"
                    >🗃️ Resources 🗃️</a
                >
            </button> -->
      <button>🗃️ Resources 🗃️</button>
      <!-- <button>
                <a href="{{ get_url(path='@/showcase/_index.md') }}"
                    >🖼️ Showcase 🖼️</a
                >
            </button> -->
      <button>🖼️ Showcase 🖼️</button>

      <h2>⚒️W.I.P⚒️</h2>
    </nav>
  </div>
  <div class="hSocials">
    <h1>💬 Socials & Contact 💬</h1>
    <div class="badgeContainer">
      <a href="https://otherheaven.net" rel="nofollow">
        <img
          style="z-index: 1"
          src="socials/Luther Blinkie.gif"
          alt="Luther's Other Heaven"
          class="socialBadge"
        />
      </a>
      <a
        href="https://matrix.to/#/@luther_the_developer:tchncs.de"
        rel="nofollow"
      >
        <img
          style="z-index: 1"
          src="socials/matrixBadge.png"
          alt="Direct Message Me"
          class="socialBadge"
        />
      </a>
      <a href="https://www.youtube.com/@Luther_the_Developer" rel="nofollow">
        <img
          style="z-index: 1"
          src="socials/youtubeBadge.png"
          alt="My Youtube Channel"
          class="socialBadge"
        />
      </a>
    </div>
    <div class="otswebring">
      <a href="https://webring.obeythesystem.com/page?=previous" rel="nofollow"
        ><-</a
      >
      <a href="https://webring.obeythesystem.com/" rel="nofollow">
        <img
          style="display: inherit; vertical-align: middle; max-height: 100%;"
          src="https://webring.obeythesystem.com/ots_webring_button_1.gif"
          alt="OTS Webring Button"
        />
      </a>
      <a href="https://webring.obeythesystem.com/page?=next" rel="nofollow"
        >-></a
      >
    </div>
    <div class="tagContainer">
      <img style="z-index: 1" src="socials/firefox.gif" class="tagBadge" />
      <img style="z-index: 1" src="socials/ff1_rmage.png" class="tagBadge" />
      <img style="z-index: 1" src="socials/lain.png" class="tagBadge" />
      <img style="z-index: 1" src="socials/english.png" class="tagBadge" />
      <img style="z-index: 1" src="socials/got_html.gif" class="tagBadge" />
      <img style="z-index: 1" src="socials/worldwideweb.gif" class="tagBadge" />
      <img style="z-index: 1" src="socials/digitalfire.gif" class="tagBadge" />
      <img style="z-index: 1" src="socials/mortalkombat.gif" class="tagBadge" />
      <img style="z-index: 1" src="socials/blender.gif" class="tagBadge" />
      <img style="z-index: 1" src="socials/yumenikki.gif" class="tagBadge" />
      <img style="z-index: 1" src="socials/ublock_now.png" class="tagBadge" />
      <img style="z-index: 1" src="socials/virus.gif" class="tagBadge" />
      <img style="z-index: 1" src="socials/drpepper.gif" class="tagBadge" />
      <img style="z-index: 1" src="socials/mailpc.gif" class="tagBadge" />
    </div>
  </div>
</div>
{% endblock content %}
