{% extends "base.html" %} {% block content %}
<a href="/"
><img style="position: absolute; z-index: 1;"
  src="/Button-Return-Home.png"
  alt="Return to Home Page"
  class="hReturn"
/></a>
<!-- Albums have to be duplicated for seamless loop -->
<div class="scrollManager">
  <div class="albumContainer">
    <div class="albumScroll">
      <img src="/albumImages/4Eva.jpg" />
      <img src="/albumImages/6.jpg" />
      <img src="/albumImages/808.jpg" />
      <img src="/albumImages/1999.jpg" />
      <img src="/albumImages/acidRap.jpg" />
      <img src="/albumImages/afterHours.jpg" />
      <img src="/albumImages/2014.jpg" />
      <img src="/albumImages/alchemist.jpg" />
      <img src="/albumImages/angelicHoodrat.jpg" />
      <img src="/albumImages/astroWorld.png" />
    </div>
    <div class="albumScroll">
      <img src="/albumImages/4Eva.jpg" />
      <img src="/albumImages/6.jpg" />
      <img src="/albumImages/808.jpg" />
      <img src="/albumImages/1999.jpg" />
      <img src="/albumImages/acidRap.jpg" />
      <img src="/albumImages/afterHours.jpg" />
      <img src="/albumImages/2014.jpg" />
      <img src="/albumImages/alchemist.jpg" />
      <img src="/albumImages/angelicHoodrat.jpg" />
      <img src="/albumImages/astroWorld.png" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScrollAlt">
      <img src="/albumImages/atLongLast.jpg" />
      <img src="/albumImages/awakenMyLove.jpg" />
      <img src="/albumImages/beautyBehindtheMadness.png" />
      <img src="/albumImages/blonde.jpeg" />
      <img src="/albumImages/bottomlessPit.jpg" />
      <img src="/albumImages/bounceIntoTheMusic.jpg" />
      <img src="/albumImages/bTI.jpg" />
      <img src="/albumImages/alchemist2.jpg" />
      <img src="/albumImages/callMeIfYouGetLost.jpg" />
      <img src="/albumImages/channelOrange.jpg" />
    </div>
    <div class="albumScrollAlt">
      <img src="/albumImages/atLongLast.jpg" />
      <img src="/albumImages/awakenMyLove.jpg" />
      <img src="/albumImages/beautyBehindtheMadness.png" />
      <img src="/albumImages/blonde.jpeg" />
      <img src="/albumImages/bottomlessPit.jpg" />
      <img src="/albumImages/bounceIntoTheMusic.jpg" />
      <img src="/albumImages/bTI.jpg" />
      <img src="/albumImages/alchemist2.jpg" />
      <img src="/albumImages/callMeIfYouGetLost.jpg" />
      <img src="/albumImages/channelOrange.jpg" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScroll">
      <img src="/albumImages/chromakopia.jpg" />
      <img src="/albumImages/cilviaDemo.jpg" />
      <img src="/albumImages/collegeDropout.jpg" />
      <img src="/albumImages/coloringBook.png" />
      <img src="/albumImages/cult.jpg" />
      <img src="/albumImages/Damn.jpg" />
      <img src="/albumImages/daytona.jpg" />
      <img src="/albumImages/demonDays.jpg" />
      <img src="/albumImages/diCaprio2.jpg" />
    </div>
    <div class="albumScroll">
      <img src="/albumImages/chromakopia.jpg" />
      <img src="/albumImages/cilviaDemo.jpg" />
      <img src="/albumImages/collegeDropout.jpg" />
      <img src="/albumImages/coloringBook.png" />
      <img src="/albumImages/cult.jpg" />
      <img src="/albumImages/Damn.jpg" />
      <img src="/albumImages/daytona.jpg" />
      <img src="/albumImages/demonDays.jpg" />
      <img src="/albumImages/diCaprio2.jpg" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScrollAlt">
      <img src="/albumImages/donda.jpg" />
      <img src="/albumImages/doris.jpg" />
      <img src="/albumImages/dreamville3.jpg" />
      <img src="/albumImages/DS2.jpg" />
      <img src="/albumImages/escapeFromNewYork.png" />
      <img src="/albumImages/exMilitary.jpg" />
      <img src="/albumImages/FM.jpg" />
      <img src="/albumImages/fromKingToAGod.jpg" />
      <img src="/albumImages/goblin.jpg" />
      <img src="/albumImages/goodKidMaadCity.jpg" />
    </div>
    <div class="albumScrollAlt">
      <img src="/albumImages/donda.jpg" />
      <img src="/albumImages/doris.jpg" />
      <img src="/albumImages/dreamville3.jpg" />
      <img src="/albumImages/DS2.jpg" />
      <img src="/albumImages/escapeFromNewYork.png" />
      <img src="/albumImages/exMilitary.jpg" />
      <img src="/albumImages/FM.jpg" />
      <img src="/albumImages/fromKingToAGod.jpg" />
      <img src="/albumImages/goblin.jpg" />
      <img src="/albumImages/goodKidMaadCity.jpg" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScroll">
      <img src="/albumImages/goodMusicCruelSummer.jpg" />
      <img src="/albumImages/graduation.jpg" />
      <img src="/albumImages/heart.jpg" />
      <img src="/albumImages/helloFixer.jpg" />
      <img src="/albumImages/hollywoodBleeding.jpg" />
      <img src="/albumImages/igor.jpg" />
      <img src="/albumImages/itsAlmostDry.jpg" />
      <img src="/albumImages/iYRTITL.png" />
      <img src="/albumImages/jester.jpg" />
      <img src="/albumImages/LateRegistration.jpg" />
    </div>
    <div class="albumScroll">
      <img src="/albumImages/goodMusicCruelSummer.jpg" />
      <img src="/albumImages/graduation.jpg" />
      <img src="/albumImages/heart.jpg" />
      <img src="/albumImages/helloFixer.jpg" />
      <img src="/albumImages/hollywoodBleeding.jpg" />
      <img src="/albumImages/igor.jpg" />
      <img src="/albumImages/itsAlmostDry.jpg" />
      <img src="/albumImages/iYRTITL.png" />
      <img src="/albumImages/jester.jpg" />
      <img src="/albumImages/LateRegistration.jpg" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScrollAlt">
      <img src="/albumImages/learn2Swim.jpg" />
      <img src="/albumImages/madvillainy.jpg" />
      <img src="/albumImages/malibu.jpg" />
      <img src="/albumImages/manOnTheMoonII.jpg" />
      <img src="/albumImages/mBDTF.jpg" />
      <img src="/albumImages/metaphoricalMusic.jpg" />
      <img src="/albumImages/mmFood.jpg" />
      <img src="/albumImages/nothingWasTheSame.jpg" />
      <img src="/albumImages/onePointFive.png" />
      <img src="/albumImages/oxymoron.jpg" />
    </div>
    <div class="albumScrollAlt">
      <img src="/albumImages/learn2Swim.jpg" />
      <img src="/albumImages/madvillainy.jpg" />
      <img src="/albumImages/malibu.jpg" />
      <img src="/albumImages/manOnTheMoonII.jpg" />
      <img src="/albumImages/mBDTF.jpg" />
      <img src="/albumImages/metaphoricalMusic.jpg" />
      <img src="/albumImages/mmFood.jpg" />
      <img src="/albumImages/nothingWasTheSame.jpg" />
      <img src="/albumImages/onePointFive.png" />
      <img src="/albumImages/oxymoron.jpg" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScroll">
      <img src="/albumImages/plasticBeach.jpg" />
      <img src="/albumImages/prayForParis.jpg" />
      <img src="/albumImages/question.png" />
      <img src="/albumImages/rodeo.jpg" />
      <img src="/albumImages/RTJ2.jpg" />
      <img src="/albumImages/RTJ3.jpg" />
      <img src="/albumImages/RTJ4.png" />
      <img src="/albumImages/ruffs.jpg" />
      <img src="/albumImages/scorpion.jpg" />
      <img src="/albumImages/section80.jpg" />
    </div>
    <div class="albumScroll">
      <img src="/albumImages/plasticBeach.jpg" />
      <img src="/albumImages/prayForParis.jpg" />
      <img src="/albumImages/question.png" />
      <img src="/albumImages/rodeo.jpg" />
      <img src="/albumImages/RTJ2.jpg" />
      <img src="/albumImages/RTJ3.jpg" />
      <img src="/albumImages/RTJ4.png" />
      <img src="/albumImages/ruffs.jpg" />
      <img src="/albumImages/scorpion.jpg" />
      <img src="/albumImages/section80.jpg" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScrollAlt">
      <img src="/albumImages/shadowBox.jpg" />
      <img src="/albumImages/someRapSongs.jpg" />
      <img src="/albumImages/splitting.jpg" />
      <img src="/albumImages/starboy.jpg" />
      <img src="/albumImages/Summertime-06.jpg" />
      <img src="/albumImages/swimming.jpg" />
      <img src="/albumImages/thankMeLater.jpg" />
      <img src="/albumImages/theAutobiography.jpg" />
      <img src="/albumImages/theForeverStory.jpg" />
      <img src="/albumImages/theHighmare.jpg" />
    </div>
    <div class="albumScrollAlt">
      <img src="/albumImages/shadowBox.jpg" />
      <img src="/albumImages/someRapSongs.jpg" />
      <img src="/albumImages/splitting.jpg" />
      <img src="/albumImages/starboy.jpg" />
      <img src="/albumImages/Summertime-06.jpg" />
      <img src="/albumImages/swimming.jpg" />
      <img src="/albumImages/thankMeLater.jpg" />
      <img src="/albumImages/theAutobiography.jpg" />
      <img src="/albumImages/theForeverStory.jpg" />
      <img src="/albumImages/theHighmare.jpg" />
    </div>
  </div>
  <div class="albumContainer">
    <div class="albumScroll">
      <img src="/albumImages/theLifeOfPablo.jpg" />
      <img src="/albumImages/TheMelodicBlueCover.jpeg" />
      <img src="/albumImages/theMouse&TheMask.jpg" />
      <img src="/albumImages/theNeverStory.jpg" />
      <img src="/albumImages/theWaters.jpeg" />
      <img src="/albumImages/toPimpAButterfly.jpeg" />
      <img src="/albumImages/Unlocked.png" />
      <img src="/albumImages/vario.jpg" />
      <img src="/albumImages/watchTheThrone.jpg" />
      <img src="/albumImages/whenAngelsCry.jpg" />
      <img src="/albumImages/whileWe'reHere.png" />
      <img src="/albumImages/worlds.jpg" />
      <img src="/albumImages/ye.jpg" />
    </div>
    <div class="albumScroll">
      <img src="/albumImages/theLifeOfPablo.jpg" />
      <img src="/albumImages/TheMelodicBlueCover.jpeg" />
      <img src="/albumImages/theMouse&TheMask.jpg" />
      <img src="/albumImages/theNeverStory.jpg" />
      <img src="/albumImages/theWaters.jpeg" />
      <img src="/albumImages/toPimpAButterfly.jpeg" />
      <img src="/albumImages/Unlocked.png" />
      <img src="/albumImages/vario.jpg" />
      <img src="/albumImages/watchTheThrone.jpg" />
      <img src="/albumImages/whenAngelsCry.jpg" />
      <img src="/albumImages/whileWe'reHere.png" />
      <img src="/albumImages/worlds.jpg" />
      <img src="/albumImages/ye.jpg" />
    </div>
  </div>
  <!-- <div class="albumContainer">
    <div class="albumScrollAlt"><img src="/albumImages/alchemist2.jpg" /></div>
  </div> -->
</div>
{% endblock content %}
